.form-iniciar{
    display: flex;
    justify-self: center;
}

.form-iniciar button{
    background-color: var(--bg-color-default6);
    color: var(--color-text-default);
    font-weight: 700;
    font-family: var(--ff-btn-login);
    border-radius: 50px;
    width: 80%;
    height: 40px;
}
.form-iniciar button:hover{
    background-color:var(--bg-color-default4);
}
.buttones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 15px 0;
}
.form-iniciar-img{
    background-image: url("../img/bg-login.png");
    width: 40vw;
    height: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin: 30px;
}
.form-iniciar>form{
    width: 400px;
    min-height: 400px;
    padding: 50px 30px;
    margin: 20px;
    box-shadow: 0 -2px 20px var(--color-border-default);
    color: var(--color-text-primary);

    display: flex;
    flex-direction: column;
    justify-self: center;

}
.form-iniciar h2{
    font-family: var(--ff-titulo-login);
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--color-text-primary);
}
/* icon de esconder y mostrar en iniciar sesión */
.form-iniciar label{
    width: 100%;
    margin: 15px 0;
    font-weight: 500;
}
.tipo-usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.password-input-container{
    position: relative;
}
.form-iniciar input {
    font-family: var(--ff-input-login);
    font-size: 14px;
    font-weight: 350;
    color: var(--color-text-primary);
    padding-right: 2.5rem;
}
.password-input-container>.bx {
    position: absolute;
    right: 12px;
    top: 50%;
    cursor: pointer;
}
.registro-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}


