/* perfil */
.profile-container {
    text-transform: capitalize;
    min-height: 100%;
    color: var(--color-text-default);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 300px;
    background-image: url("../../img/bg-perfil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    font-family: var(--ff-registro);
    font-size: 30px;
    font-weight: bolder;

    position: relative;
  }
  .profile-header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px var(--bg-color-main7);
  }
  .profile-header h1{
    color: var(--color-text-default);
    text-shadow: 1px 1px 1px var(--bg-color-main7);
  }
  /* menu izquierda de mis datos */
  .profile-navbar {
    background: var(--bg-color-main9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 320px;
  }
  
  .profile-navbar h2 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;

    cursor: pointer;

    width: 200px;
    padding: 10px;
    transition: background 0.3s;
    border-radius: 200px 200px;

    color: var(--color-text-secondary);
  }
  /* estado seleccionado */
  .profile-navbar .active-tab {
    background: var(--bg-color-default4);
    color: var(--color-text-default);
  }
  /* boton de log out */
  .profile-navbar .logout{
    cursor: pointer;
    border-radius: 100px;
    background: var(--color-bg-logout);
    color: var(--color-text-default);
  }
  /* boton de log out hover */
  .profile-navbar .logout:hover {
    background: var(--color-error-text);
    color: var(--color-texto-footer3);
  }
  /* información derecha */
  .profile-content {
    width: 100%;
    padding: 60px;
    min-height: 500px;
    display: flex;
    justify-content: center;

    color: var(--bg-color-default4);
  }
  
  /* parte información */
  .info-section {
    width: 50%;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid var(--color-border-default);
    padding: 10px 20px;    
  }
  .info-section h1{
    margin-bottom: 1.5rem;
    font-weight: 900;
  }
  .info-section hr{
    border: none;
    height: 0.5px;
  }
  /* opción de información */
  .info-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 8px 0;
    font-size: 1rem;
  }
  .info-label {
    font-size: 12px;
    font-weight: normal;
    color: var(--color-text-default2);
  }
  
  /* valor de información */
  .info-value {
    font-weight: bold;
  }
  
  /*  */
  .info-highlight {
    color: var(--bg-color-main5);
    font-weight: bold;
  }
  
  /* button */
  .info-actions {
    margin-top: 20px;
  }
  
  .edit-link, .change-password {
    text-decoration: none;
    font-weight: lighter;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .edit-link:hover, .change-password:hover {
    text-decoration: underline;
  }